<footer class="footer bg-light">
	<div class="container-fluid text-center">
		<div class="row">
			<div  class="col-sm-4">
				<div class="copyright">[html-lang-0091] | &copy; <%=  config.app.name %> - 2018</div>
			</div>
			<div  class="col">
				<div class="footer-links">
					<a href="/info/about">[html-lang-0083]</a> | 
					<a href="/info/help">[html-lang-0087]</a> |
					<a href="/info/contact">[html-lang-0084]</a>  |
					<a href="/info/privacy_policy">[html-lang-0085]</a> |
					<a href="/info/terms_and_conditions">[html-lang-0086]</a>
				</div>
			</div>
			__applanguagechange
		</div>
	</div>
</footer>
